@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primarytext: white;
}

body {
  background-color: black;
  color: var(--primarytext);
  /* font-family: "Sono", sans-serif; */
  font-family: "Roboto Mono", monospace;
}
